<div class="planet-result">
    <img src="{{image}}" alt="{{name}}" class="planet-img">
    <div class="planet-info">
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Solar System:</strong> {{solarSystem}}</p>
        <a class="detail-btn" href="/planets/details/{{_id}}">Details</a>
    </div>
</div>