<div class="planet-card" id="planet1">
    <img src="{{image}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p>Solar System: {{solarSystem}}</p>
    <a class='detail-btn' href='/planets/details/{{_id}}'>Details</a>
</div>